<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Hook Engine | Increase your SaaS API integrations.</title>
  <meta name="description" content="Increase your SaaS API integrations.">
  <meta name="author" content="Raymond Cudjoe">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
<div class="row">
  <center><header style="margin-top: 8%"><h1 class="eleven columns offset-by-one column" style="font-weight: 700; font-style: italic;">Have you done everything to increase your SaaS API integrations?</h1></header></center>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <p>You’ve released your public API after weeks of internal testing. You’ve provided excellent documentation with great sample code. You’ve successfully integrated with several partners and other SaaS providers.</p>

    <p>But external developers aren't using your SaaS API in their web and mobile products, which has limited your opportunities for rapid growth.</p>

    <p>Your current traffic generation effort isn’t attracting developers who could be advocates for your SaaS product when their employer or client needs your solution.</p>

    <p>How do you sell to developers when they “hate being marketed to” and you don't speak their language? How do you make your SaaS product the obvious choice when developers would rather build their own solution?</p>

    <p>How do you increase your SaaS API integrations when your developers can’t work with more integration partners and SaaS providers because they’re busy implementing new features, squashing bugs, and scaling your app?</p>
  </div>

    <blockquote style="font-style: italic; color: #708090; padding-left: 10%;"><h3>“SaaS integrations and engineering as marketing are underutilized channels for rapid growth.”<span style="font-size: 20px; color: #222"> – Mares &amp; Weinberg</span></h3></blockquote>

<div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <p>If you’re a SaaS marketer who wants to turn your public API into a marketing asset and increase your public API integrations among external developers, you should provide client libraries for multiple programming languages because <b><i>your competitors aren’t testing these growth channels.</i></b></p>
  </div>
    
    <center><header><h2 class="eleven columns offset-by-one column" style="font-weight: 700; font-style: italic;">Reach 38K+ Ruby developers with <br>your Hook Engine.</h2></header></center>

    <div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <p>Reach more Ruby developers, increase your SaaS API adoption, and get more SaaS integration partners with <u><i>done-for-you</i></u> engineering as marketing.
    </p>

    <p>If a public API and third-party integrations are core parts of your customer acquisition and retention strategy, we’ll build, distribute and maintain your Ruby API client.</p>

    <p>And you’ll reach 38K+ Ruby developers with your Hook Engine. Here’s how:</p>

    <h5><b>Phase 1: We’ll create a Ruby gem that wraps your public API.</b></h5>

    <p>We’ll create a Ruby client that has a complete public API coverage, making all your public API methods available for use in Rack-based and Ruby applications.</p>

    <p>Your Ruby client will have detailed documentation and usage examples so that even newbies can integrate your API into their application.</p>

    <p> Your Ruby client will also have 100% test-coverage so that issues and unexpected errors can be identified and fixed immediately.</p>

    <h5><b>Phase 2: We’ll promote your Ruby gem to product-focused developers.</b></h5>

    <p>We’ll publish your Ruby gem to RubyGems.org, the Ruby community’s gem hosting service so that Ruby developers can find, install and use your Ruby gem in their applications.
    </p>

    <p>Then, we’ll create an “eBomb” that’ll get your Ruby client featured in Ruby Weekly and other Ruby community forums like RubyFlow and Reddit.</p>

    <p>We’ll also promote your Ruby gem and “eBomb” to our email list of product-focused Ruby developers who’ve chosen to hear from us.</p>

    <h5><b>Phase 3: We’ll close all issues and/or pull requests for your Ruby gem.</b></h5>

    <p>Once Ruby developers start using your Ruby client, we’ll work with them to fix any issues they may encounter and help them with their integrations.</p>

    <p>We aim to close all issues and/or pull-requests related to your Ruby client within 24 hours and make the integration experience more pleasant than a piggyback ride.</p>
  </div>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">

  <center><b><h4 style="color: #696969;">We help product people like...</h4></b></center>

  <blockquote style="font-style: italic; color: #708090;"><p>“I wasn’t sure what I was getting and the results I should expect.
    <br>
    <br>
    However, I found that the Hook Engine team is good at targeting and creating content that attracted software developers.
    <br>
    <br>
    I really liked the exposure they provided across developer communities, the traffic they drove to the site, and the subscribers they were able to capture. And those subscribers will be really valuable!
    <br>
    <br>
    I’d recommend the Hook Engine team to anyone looking for SaaS marketers and content creators who target the software development industry.”<span style="font-size: 18px; color: #222"> – David Anderson, Everclimb</span>
    </p></blockquote>
  </div>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">
  <center><b><h4 style="color: #696969">What's your investment in Hook Engine?</h4></b></center>

    <p>We’re glad you asked! Right now, <b>your investment in Hook Engine is $1250/month.</b> That includes building and publishing your Ruby API client in the first month of our engagement, creating ONE educational content that will get your Ruby client featured in Ruby Weekly, and providing integration support (closing issues and/or pull-requests) from the day we release your Ruby client.</p>
  </div>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <center><b><h4 style="color: #FF6347">100% Money-Back &amp; Buy-Back Guarantee.</h4></b></center>

    <p>If you’re not happy with our work at any time, we will terminate your subscription and issue a full refund of your most recent monthly payment, no questions asked.</p>

    <p>If you completely dislike our work, we’ll buy-back your Ruby client and “eBomb” and keep it as our marketing asset. That means we’ll pay you more than your monthly membership fee if we don't exceed your expectations.</p>
  </div>

  <div style="padding-left: 5%" class="twelve columns">
    <center><b><h4 style="color: #696969">You have questions. We have answers.</h4></b></center>
      
    <div style="padding-left: 5%" class="five columns">
        <p><b>1. How long does it take to build and publish a Ruby client?</b>
        <br>
        <br>
        It depends on the number of endpoints your public API has. But we often release version 0.0.1 of a Ruby client with complete API coverage within 14 to 30 calendar days; the length of a typical SaaS trial period.
        </p>
        <p><b>2. Will you update the Ruby client when we release a new API version?</b>
        <br>
        <br>
        Yes, we always update your Ruby client to use your latest API and update it whenever you release newer versions.
        </p>
      </div>
      <div class="five columns" style="padding-left: 5%;">
        <p><b>3. What if another developer has published a Ruby client for our API?</b>
        <br>
        <br>
        Do you own it? If you answered NO, you should get your own Ruby client because there’s no guarantee the current owner is going to promote and update it or help your customers.
        </p>
        <p><b>4. Will you build and maintain a Ruby client for a private API?</b>
        <br>
        <br>
        Book a consultation and let’s discuss it. We might be able to create a Ruby client for your private API if it meets our criteria.
        </p>
      </div>
    </div>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <center><b><h4 style="color: #696969">Let's make sure we're a good match.</h4></b></center>

    <center><a style="padding-top: 10px; padding-bottom: 50px;width: 100%; font-size: 1.00em;" class="button button-primary" href="https://calendly.com/hookengine/match/">SCHEDULE A 15-MINUTE CALL</a></center>
    <br>
    <br>
  </div>

  <div style="padding-left: 5%;" class="ten columns offset-by-one column">
    <center><b><h4 style="color: #696969">Who are you? What's your story?</h4></b></center>
    <p>
    Hook Engine is a distributed team of product-focused Ruby developers led by <a href="https://www.linkedin.com/in/rkcudjoe" target="_blank">Raymond Cudjoe</a>. We help API-driven SaaS businesses prioritize integrations and engineering as marketing as a growth strategy by building, distributing, and maintaining their Ruby API client.
    </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div style="padding-left: 5%;" class="ten columns offset-by-one column">
      <hr style="display: block;">
    <p> &copy; 2016 Hook Engine | <a href="mailto:rkcudjoe@hookengine.com">rkcudjoe@hookengine.com</a> | 646 217 1274 | <a href="#">SaaS API eBombs</a></p>
     </div>
    </div>
    </div>
  </div>
  <!-- Drip -->
  <script type="text/javascript">
    var _dcq = _dcq || [];
    var _dcs = _dcs || {}; 
    _dcs.account = '7973861';
    
    (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true; 
      dc.src = '//tag.getdrip.com/7973861.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
    })();
  </script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
